html, body {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  background-color: #3F0F3F;

}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.sectors{
	margin-top: 0vh;
	color: white;
	padding-top: 2vh;
	padding-bottom: 50vh;
	padding-right: 10vh;
	padding-left: 10vh;
	margin-bottom: 2vh;
  	border-radius: 3vw;
}

.textView{
	color: white;
}

.images{
	color: white;
    max-width:20%;
    height: auto;
    margin-left: 1vw;
}

.text{
	color: white;
	font-size: 1.5vw;
}

.headers{
	color: white;
}






#Banner {
    text-align: center;
    background-color: #3F0F3F;
    margin-bottom: 0vh;
}

#Title {
    text-align: center;
    background-color: #3F0F3F;
    padding-top: 2.5vh;
    padding-bottom: 1vh;
    margin-left: 0vw;
    color: white;
}

#Menu {
    text-align: center;
    background-color: #3F0F3F;
    padding-top: 1vh;
    padding-bottom: 3vh;
	margin-bottom: 0vh;
    color: white;
}

#menuTitle{
	background-color: #3F0F3F;
    margin-left: 1vw;
    font-size: 2.5vw;

}
.menuItems{
    background-color: #3F0F3F;
    margin-left: 1vw;
    font-size: 2vw;
}

.logos{
    background-color: #3F0F3F;
    color: white;
    margin-left: 1vw;
	vertical-align="bottom"

}

img{
    max-width:2%;
    height:auto;

}

p{
	color: white;
}

@media screen and (max-width: 800px) {
  	#Banner, #Title, #Menu, #menuTitle, .logos, .menuItems, img {
    	width: 100%; 
  	}
  	
  	html, body {
		margin: 0;
		padding: 0;
		font-family: Tahoma;
		background-color: #3F0F3F;

	}

  	#Banner {
    	text-align: center;
    	background-color: #3F0F3F;
	}

  	#Title {
	    text-align: center;
	    background-color: #3F0F3F;
	    padding-top: 1.5vh;
	    padding-bottom: 0.5vh;
	    margin-left: 0vw;
	    color: white;
	}	

  	#Menu {
	    text-align: center;
	    background-color: #3F0F3F;
	    padding-top: 0vh;
	    padding-bottom: 1.5vh;
	    margin-left: 0vw;
	    color: white;
	}

	#menuTitle{
		text-align: center;
		background-color: #3F0F3F;
	    color: white;
	    margin-left: 1vw;
	    font-size: 5vw;


	}
	.menuItems{
	    background-color: #3F0F3F;
	    color: white;
	    margin-left: 0.5vw;
	   	margin-right: 0.5vw;
	    font-size: 3.5vw;
	}

	.logos{
	    background-color: #3F0F3F;
	    color: white;
	    margin-left: 1vw;
		vertical-align="bottom"
		max-width: 10%;
		height: auto;

	}
	.sectors{
	margin-top: 0vh;
	color: white;
	padding-top: 2vh;
	padding-bottom: 5vh;
	padding-right: 5vh;
	padding-left: 5vh;
	margin-bottom: 2vh;
  	border-radius: 3vw;
	}

	.textView{
		color: white;
	}

	.images{
		color: white;
	    max-width:20%;
	    height: auto;
	    margin-left: 1vw;
	}

	.text{
		color: white;
		font-size: 2vw;
	}

	.headers{
		color: white;
		font-size: 4vw;

	}





}